doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ufarm
  link(rel='stylesheet' href='./css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='./css/custom.css')
.container.mt-5
  .row.justify-content-center
    .col-md-7
      .card
        .h3(style='margin-top:20px; text-align:center; font-size:40px;') U FARM
        .card-body(style='margin-top:10px;')
          form(action='/login' name='login' onsubmit='return Validate(event);' method='POST')
            .mb-3
              label.form-label(for='username_UserID') Username/ID:
              input#username_UserID.form-control(type='text' name='username' placeholder='Enter username/ID')
              span#userNameIDErr
            .mb-3
              label.form-label(for='password') Password:
              input#Password.form-control(type='password' name='password' placeholder='Enter password')
              span#PasswordErr
            button.btn.btn-primary(type='submit') Sign in
            p(style='margin-top:30px;')
              | Need an Account   
              a(href='signup') Sign Up
script(src='./css/bootstrap/js/bootstrap.js')
script(src='./js/loginvalidation.js')
