doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Produce Upload Form
  link(rel="'stylesheet" href='/css/productupload.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
.container.fluid
  h2 Produce Upload Form
  form(action='/upload' enctype='multipart/form-data' onsubmit='return Validate(event);' method='POST')
    .form-group
      label(for='productname') Produce Name:
      input#productname.form-control(type='text' name='productname')
      span#pdnameErr
    .form-group
      label(for='wardname') Ward Name:
      select#wardname.form-control(name='wardname')
        option(value='') Select
        option(value='Ward A') Ward A
        option(value='Ward B') Ward B
        option(value='Ward C') Ward C
        option(value='Ward D') Ward D
      span#wdnameErr
    .form-group
      label(for='uniqueid') Urban Farmer ID:
      input#uniqueid.form-control(type='text' name='uniqueid')
      span#uniqueidErr
    .form-group
      label(for='date') Date of upload:
      input#date.form-control(type='date' name='date')
      span#dateErr
    .form-group
      label(for='unit-price') Unit Price in Ugx:
      input#unit-price.form-control(type='number' name='unitprice')
      span#unitpxErr
    .form-group
      label(for='quantity') Quantity in kgs:
      input#quantity.form-control(type='number' name='quantity')
      span#QtyErr
    .form-group
      label(for='payment-method') Mode of Payment:
      select#payment-method.form-control(name='paymentmode')
        option(value='') Select
        option(value='cash') Cash
        option(value='mobile money') Mobile Money
      span#paymethodErr
    .form-group
      label(for='directions') Directions:
      textarea#directions.form-control(name='directions')
      span#directionsErr
    .form-group
      label(for='delivery-method') Mode of Delivery:
      select#delivery-method.form-control(name='deliverymode')
        option(value='') Select
        option(value='pickup') Pickup
        option(value='home delivery') Home Delivery
      span#delmethodErr
    .form-group
      label(for='product-type') Produce Type:
      select#product-type.form-control(name='producetype')
        option(value='') Select
        option(value='organic') Organic
        option(value='non organic') Non Organic
      span#producttypeErr
    .form-group
      label(for='productImage') Produce Image:
      input#productImage.form-control-file(type='file' name='productimage' accept='image/*')
      span#productimageErr
    button.btn.btn-primary(type='submit') Submit
  script(src='/js/pdtuplvalidation.js')
