doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Signup
  link(rel='stylesheet' href='./css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='../../css/editform.css')
section
  .container
    .row
      .col
        .card.text-black(style='margin-bottom:30px;')
          .card-body(style='background-color:beige;')
            .row.justify-content-center
              .col-md-10.col-lg-6
                p.text-center.h1.fw-bold Sign up
                form.mx-1.mx-md-4(action='#' name='signup' onsubmit='return Validate(event);' method='POST')
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signupfirstname') First Name
                      input#signupfirstname.form-control(type='text' name='firstname')
                      span#FirstnameErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signuplastname') last Name
                      input#signuplastname.form-control(type='text' name='lastname')
                      span#LastnameErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signupEmail') Email
                      input#signupEmail.form-control(type='email' name='email')
                      span#signupEmailErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signupphonenumber') Phone Number
                      input#contact.form-control(type='tel' name='phonenumber')
                      span#contactErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signuprole') Role
                      select#role.form-control(type='text' name='role')
                        option(value='') Select
                        option(value='customer') Customer
                        option(value='agricofficer') Agric Officer
                      span#roleErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signupUN') Username
                      input#signupUN.form-control(type='text' name='username')
                      span#signupUNErr
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='signuppassword') Password
                      input#signuppassword.form-control(type='password' name='password')
                      span#passwordErr
                  .d-flex.justify-content-center
                    button.btn.btn-primary.btn-lg(type='submit') Register
script(src='./js/signupvalidation.js')
