body {
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C3E50;
    color: #FFF;
    overflow-x: hidden;
    padding-top: 50px;
}

#content {
    margin-left: 300px;
   
}
  

#sidebar button {
    display: block;
    color: #FFF;
    padding: 10px;
    background-color: #2C3E50;
    border: none;
}

#sidebar button:hover {
    background-color: #1E8BC3;
    width: 90%;
}

.active {
    background-color: #1E8BC3;
}
.btnbtn-primary{
    display:block;
    margin:auto;
}
h1,p{
    text-align: center;
    margin-top: 100px;
}
h2,h3{
    text-align: center;
}

