body {
  font-family: "Roboto", sans-serif;
  background-color: beige;
}

#sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#371D10;
  color: WHITE;
  overflow-x: hidden;
  padding-top: 50px;
  width:280px;
}

#content {
  margin-left: 280px;
 
}


#sidebar button {
  display: block;
  color: white;
  padding: 10px;
  background-color:#371D10;
  border: none;
}

#sidebar button:hover {
  background-color: #795c34;
  width: 90%;
}

.active {
  background-color: #795c34;
}
.btnbtn-primary {
  display: block;
  margin: auto;
}
h1,
p {
  text-align: center;
  margin-top: 100px;
}
h2,
h3 {
  text-align: center;
}
