<!DOCTYPE html>
<html>

<head>
    <title>Agric Officer Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../public/css/dash.css">
</head>

<body>
   
   
        <!-- Side Panel -->
    <div id="sidebar">
        <h3 class="text-center">Agric Officer Dashboard</h4>
        <button class="tablinks" onclick="showContent(event, 'welcome-message')" id="defaultOpen">Dashboard</button><br>
        <button class="tablinks" onclick="showContent(event, 'foregisteration-form')">Register FarmerOne</button><br>
        <button class="tablinks" onclick="showContent(event, 'farmerOnes-list')">FarmerOnes</button><br>
        <form method="POST" action="#"><button>Logout</button></form>
    </div>

    <!-- Main Content -->
    <div id="content">
        <div id="welcome-message" class="tabcontent">
            <h1>Welcome to you UFARM</h1>
            <p>This is your dashboard, where you can manage farmerOnes.</p>
            <p>Please select an option from the side panel to get started.</p>
        </div>
        <div id="foregisteration-form" class="tabcontent">
            <h2>Registration form</h2>
            <h3>Farmer one</h3>
            <div class="container">
                <form  action="/registerFo" name="register" onsubmit="return Validate(event);" method="POST">
                    <fieldset style="border:3px">
                        <legend>Personal Information</legend>
                        <div class="row">
                            <div class="col-md-4">
                                <label>First Name:</label> 
                                <input class="form-control" id="inputfirstname" type="text" name="firstname">
                                <span id="FNError"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Last Name:</label> 
                                <input class="form-control" id="inputlastname" type="text" name="lastname">
                                <span id="LNError"></span>
                            </div>
                            <!-- <div class="col-md-4">
                                <label>Username:</label>
                                <input class="form-control" id="username" type="text" name="username">
                                <span id="userNameErr"></span>
                            </div> -->
                            <div class="col-md-4">
                                <label>Password:</label>
                                <input class="form-control"id="password" type="text" name="password">
                                <span id="pwdErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label>National IdentificationNumber(NIN)</label>
                                <input class="form-control" id="inputNIN" type="text" name="NIN">
                                <span id="NINErr"></span>
                            </div>
                            <div class="col-md-4"><label>Phonenumber:</label>
                                    <input class="form-control" id="focontact" type="text" name="phonenumber">
                                    <span id="phoneNoErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Email:</label>
                                <input class="form-control" id="email" type="email" name="email">
                                <span id="emailErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label >Date of Birth:</label>
                                <input class="form-control" id="birthdate" type="date" name="birthdate">
                                <span id="dobErr"></span>
                            </div>
                            <div class="col-md-4" style="margin-top: 30px;">
                                <label >Gender:</label>
                                <div class="form-check form-check-inline">
                                    <label for="male"><input class="form-check-input" id="male" type="radio" name="gender">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label for="female"><input class="form-check-input" id="female" type="radio" name="gender">Female</label>
                                </div>
                                <span id="genderErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Directions to your residence</label>
                                <input class="form-control" id="inputAddress" type="text" placeholder="plot 1, Entebbe rd, opp Police station" name="directionsToHome">
                                <span id="address1Err"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Residential type</label>
                                <select class="form-control" id="inputAddress2" type="text" name="residenceType">
                                    <option value="">Select</option>
                                    <option value="Rented">Rented</option>
                                    <option value="Owned">Owned</option>
                                </select>
                                <span id="address2Err"></span>
                            </div>

                        </div>  
                    </fieldset>

                    <fieldset>
                        <legend>Ward Information</legend>
                        <div class="row">
                            <div class="col-md-4">
                                <label >Ward</label>
                                <select class="form-control" id="inputward" type="text" name="ward">
                                    <option value="">Select</option>
                                    <option value="ward A">Ward A</option>
                                    <option value="Ward B">Ward B</option>
                                    <option value="Ward C">Ward C</option>
                                    <option value="Ward D">Ward D</option>
                                </select>
                                <span id="wardErr"></span>
                            </div>
                            <div class="col-md-3">
                                <label>Number of years lived in the ward:</label>
                                <input class="form-control" id="years-lived" name="periodOfStayInWard" type="number">
                                <span id="yearslivedinwardErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Unique FO number</label>
                                <input class="form-control" id="inputFOnumber" type="text" placeholder="eg UGFO-000" name="username">
                                <span id="foNoErr"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="registrationdate">Date of Registration:</label>
                                <input class="form-control" id="registrationDate" type="date" name="dateOfRegistration">
                                <span id="doRErr"></span>
                            </div>
                            
                        </div>
                        <div class="mb-3 mt-3">
                            <label>Activities done by FO:</label><br>
                            <input id="option1" type="checkbox" value="Register Urban Farmers in the ward"
                                name="activities">Register Urban Farmers in the ward<br>
                            <input id="option2" type="checkbox"
                                value="Inspects the produce and agricultural activities for quality"
                                name="activities">Inspects
                            the produce and agricultural activities for quality<br>
                            <input id="option3" type="checkbox" value="Approves farmer's produce to be listed"
                                name="activities">Approves farmerOne's produce to be listed
                            <span id="foactiviesErr"></span>
                        </div>
                        
                    </fieldset>
                    <button type="submit" class="btn btn-primary"  style='width: 100px;' >Submit</button>
                </form>
            </div>
    
        </div>
        <div id="farmerOnes-list" class="tabcontent">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unique ID</th>
                            <th>NIN</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Directions to Home </th>
                            <th>Residential type</th>
                            <th>Ward</th>
                            <th>Period of Stay in Ward (Years)</th>
                            <th>Date of Registration</th>
                            <th>Activities done by FO</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
   
    <!-- JS -->
    <script src="../../public/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../public/js/dash.js"></script>
    <script src="/public/js/validations.js"></script>
</body>
</html>
   