<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uploaded products</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Mode of Payment</th>
            <th>Directions</th>
            <th>Mode of Delivery</th>
            <th>Product Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <form method="POST" action="/approve">
                <input type="hidden" name="productId">
                <button type="submit" class="btn btn-success">Approve</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      
    
</body>
</html>