<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ufarm</title>
  <link rel="stylesheet" href="../../public/css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/css/custom.css">
</head>

<body>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <form action="#" onsubmit="return Validate(event);"  method="POST">
              <div class="mb-3">
                <label for="username_UserID" class="form-label">Username/UserID:</label>
                <input type="text" class="form-control" id="username_UserID" name="username_UserID" placeholder="Enter username/UserID">
                <span id="userNameIDErr"></span>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="Password" name="password" placeholder="Enter password" >
                <span id="PasswordErr"></span>
              </div>
              
             <button type="submit" class="btn btn-primary">Sign in</button>
             <p>Need an Account   <a href="./signup.html">Sign Up</a></p>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../css/bootstrap/js/bootstrap.js"></script>
  <script src="../../public/js/loginvalidation.js"></script>
</body>

</html>